{
    "feishu_app_id": "cli_a4******0e",
    "feishu_app_secret": "Tv***************************UuF",
    "feishu_encryption_key": "adN*************************R",
    "feishu_verification_token": "Tof***********************URf6",
    "gpt_model": "openai-gpt",
    "gpt_app_key": "340*********************************59",
    "azure_api_base": "https://*************************.com/",
    "azure_api_type": "azure",
    "azure_api_version": "2023-03-15-preview"
}